body {
	overflow: hidden;
	background-color: rgb(224, 241, 247);
}

.box {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgb(224, 241, 247);
	border: solid rgb(0, 0, 0) 1px;
	border-radius: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.83vw;
	padding: 0px;
	margin: 0px;
	user-select: none;
}

.table-name {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	left: 3.94%;
	width: 38.48%;
	height: 19.99%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0);
	border: solid rgb(0, 0, 0) 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.13vw;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	user-select: none;
}

.table-header {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	top: 23.52%;
	width: 20.00%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0);
	border: solid rgb(0, 0, 0) 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.13vw;
	padding: 0px;
	margin: 0px;
	user-select: none;
}

.date-output {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	width: 20.00%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0);
	border: solid rgb(0, 0, 0) 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.13vw;
	padding: 0px;
	margin: 0px;
	user-select: none;
}

.demo-button {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	height: 19.97%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgb(71, 249, 224);
	border: solid rgb(0, 0, 0) 1px;
	border-radius: 8px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.13vw;
	padding: 0px;
	margin: 0px;
	user-select: none;
}

.drop-down {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1vw;
}

#div1 {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 2%;
	left: 2.43%;
	width: 95.15%;
	height: 91.41%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgb(230, 234, 241);
	border: solid rgb(0, 0, 0) 0px;
	border-radius: 33px;
	box-shadow: 11px 11px 11px rgba(0, 0, 0, 0.3);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.83vw;
	padding: 0px;
	margin: 0px;
	user-select: none;
}

#intro {
	display: flex;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	height: auto;
	top: 12%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0);
	border: solid rgb(0, 0, 0) 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.12vw;
	padding: 0px;
	margin: 0px;
	justify-content: center;
	text-align: center;
	user-select: none;
}

#get-gcp {
	top: 30%;
}

#clear {
	top: 37%;
}

#clear, #get-gcp {
	display: flex;
	position: absolute;
	left: 2%;
	width: 20.00%;
	height: 3%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgb(71, 249, 224);
	border: solid rgb(0, 0, 0) 1px;
	border-radius: 12px;
	box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.27vw;
	padding: 10px;
	margin: 0px;
	user-select: none;
}

#tool {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	top: 2%;
	left: 3.25%;
	width: 93.11%;
	height: 9.64%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0);
	border: solid rgb(0, 0, 0) 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 4.11vw;
	padding: 0px;
	margin: 0px;
	user-select: none;
}

#specify {
	display: flex;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	height: auto;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0);
	border: solid rgb(0, 0, 0) 0px;
	padding: 0px;
	margin: 0px;
	user-select: none;
}

#dropdown,
#input {
	height: 7.97%;
	margin: 1.5%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8vw;
}

#dropdown {
	width: auto;
}

#input {
	width: 150%;
}

#output {
	top: 30%;
	/* Adjust this value to position it below get-gcp */
}

#box1 {
	top: 45%;
	left: 2%;
	width: 40.41%;
	height: 21.1%;
}

#box2 {
	top: 45%;
	left: 44%;
	width: 54.09%;
	height: 21.1%;
}

#box1-heading {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	top: 9%;
	left: 3.18%;
	width: 33.83%;
	height: 19.97%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0);
	border: solid rgb(0, 0, 0) 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.42vw;
	padding: 0px;
	margin: 0px;
	user-select: none;
}

#box2-heading {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	top: 9%;
	left: 1.09%;
	width: 44.80%;
	height: 19.97%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0);
	border: solid rgb(0, 0, 0) 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.42vw;
	padding: 0px;
	margin: 0px;
	user-select: none;
}

#own-table {
	top: 55%;
}

#own-updated {
	top: 55%;
	left: 67%;
	height: 19.97%;
}

#gcp-table {
	top: 32%;
}

#gs1-updated {
	top: 32%;
	left: 67%;
	height: 16.19%;
}

#gtin {
	top: 33%;
	left: 6%;
	width: 43.43%;
}

#sscc {
	top: 65%;
	left: 6%;
	width: 43.00%;
}

#gln {
	top: 33%;
	left: 52%;
	width: 41.74%;
}

#giai {
	top: 65%;
	left: 52%;
	width: 41.74%;
}

#footer {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	top: 70%;
	left: 50%;
	transform: translateX(-50%);
	width: 34.06%;
	height: 4.85%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0);
	border: solid rgb(0, 0, 0) 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.85vw;
	padding: 0px;
	margin: 0px;
	user-select: none;
}